@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>

<div class="homepage">
    <div class="frontPageImage">
        <img src="~/Content/Images/catbus.jpg" />
    </div>
</div>
