
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="login">Login</h2>
<div>
   
    <div class="enter-info">
    <form name="frm1" action= "@Url.Action("LoginPost", "User")" method="post">
        <div class="tony">
            <input class="loginBox" type="text" name="email" id="email" />
            <label for="email"> Username or E-mail Address</label>
        </div>
        <div class="rachel">
            <input class="loginBox" type="password" name="password" id="password" />
            <label for="password"> Password</label>
        </div>
        <hr />
        <div class="moshe">
            <input class="submit" type="submit" value="Submit" />
        </div>
    </form>
    </div>
</div>