
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<div class="enter-login-info">
    <script type="text/javascript">
        function addText() {
            var input = document.getElementById('email');
            input.value += input.value;
        }
        function addText() {
            var input = document.getElementById('password');
            input.value += input.value;
        }
    </script>
</div>
<form name="frm1" action="?" onsubmit="addText()">
    <input type="text" name="email" id="email" />
    <input type="text" name="password" id="password" />
    <input type="submit" value="Submit" />
</form>