
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<div>
    <script type="text/javascript">
        function addText() {
            var input = document.getElementById('email');
            input.value += input.value;
        }
        function addText() {
            var input = document.getElementById('password');
            input.value += input.value;
        }
    </script>
    <div class="enter-info"></div>
    <form name="frm1" action="?" onsubmit="addText()">
         <label for="email">Email</label>
         <input class="loginBox" type="text" name="email" id="email" />
         <label for="password">Password</label>
         <input class="loginBox" type="password" name="password" id="password" />
         <input type="submit" value="Submit" />
    </form>
    </div>
</div>