@model Capstone.Web.Models.Route

@{
    ViewBag.Title = "Create New Route";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create a New Route</h2>
<!--<div id="map"></div>-->
<div id="right-panel">
    <div>
        <form action="@Url.Action("Create")" method="post">
            <b>Route Name</b><br />
            <input id="RouteName" type="text" name="RouteName" placeholder="Route Name"/><br /><hr />
            <b>List of Stops:</b><br />
            <input id="Waypoints[0]" class="waypointAdder" type="text" name="Waypoints[0]" placeholder=" Stop 1" />
            <input id="Waypoints[1]" class="waypointAdder" type="text" name="Waypoints[1]" placeholder=" Stop 2"/>
            <button type="button" id="add-btn">Add Stop</button>
            <button type="button" id="rmv-btn">Remove Stop</button><br /><hr />
            <input type="submit" id="submit">
        </form>
    </div>
</div>

<script>
    $('#add-btn').on('click', function () {
        var currentStopCount = $('.waypointAdder').length;
        $('.waypointAdder:last').after('<input type="text" class="waypointAdder" id="Waypoints[' + currentStopCount + ']" name="Waypoints[' + currentStopCount + ']" placeholder=" Stop ' + (currentStopCount+1) + '"/>');
    });
    $('#rmv-btn').on('click', function () {
        var currentStopCount = $('.waypointAdder').length;
        if (currentStopCount > 2) {
            $('.waypointAdder:last').remove();
        }
    });
    function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: { lat: 41.4993, lng: -81.6944 }
        });
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1daWs4KZZROhgz8DlBzFXdz80pSWo8Fs&callback=initMap">
</script>