@model Capstone.Web.Models.Route

@{
    ViewBag.Title = "Edit a Route";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit a Route</h2>
<div id="right-panel">
    @{
        

    }
</div>

<script>
    $(document).ready(function () {

        console.log(@Model.RouteName );


    });


</script>
