@model Capstone.Web.Models.Route

@{
    ViewBag.Title = "Add a User to a Route";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2> Add a user to Route: @Model.RouteName </h2>
<hr />

<div id="right-panel">
    <form action="@Url.Action("UpdateUsersOnRoute")" method="post">
        <div>
            <input id="User" class="waypointAdder" type="text" name="User" placeholder="Enter e-mail address" />
            @Html.Hidden("RouteID", Model.RouteID, new { @id = "RouteID" })
        </div>
        <input type="submit" id="submit">
    </form>

</div>
<div>

    @for (int i = 0; i < Model.Users.Count; i++)
            {
        @Model.Users[i]<br />
    }

</div>

