@model List<Route>
@{
    ViewBag.Title = "Routes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Routes</h2>

<p>Dropdown List will Go Here</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d33814.49695808741!2d-81.65713266773358!3d41.48677260855932!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1491247315658" width="800px" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>