@model List<Capstone.Web.Models.Route>
@{
    ViewBag.Title = "Routes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Routes</h2>

<div id="map"></div>
<div id="right-panel">
    <div>
        <form action="@Url.Action("Edit")" method="post">
            @Html.Label("RouteID", "Select A Route")
            @Html.DropDownList("RouteID", new SelectList(Model, "RouteID", "RouteName"), "Choose a Route")
        </form>
        <hr />
    </div>
    <div id="directions-panel"></div>
</div>

<script>
    var directionsService;
    var directionsDisplay;

    $(document).ready(function () {
        $('#RouteID').on('change', function () {
            var summaryPanel = document.getElementById('directions-panel');
            summaryPanel.innerHTML = '';
            $('.editButton').remove();

            $.ajax({
                url: "route/waypointlist",
                data: {
                    routeId: $(this).val()
                },
                method: "GET"
            }).done(function (result) {
                if ($('.editButton').length == 0 && $('#RouteID').val != 'Choose a Route') {
                    @{
                        var user = (Capstone.Web.Models.User)Session["Login"];
                        if (user != null && user.IsAdmin == true )
                        {
                        <text>$('#RouteID').after('<input type="submit" id="editUserButton" class="editButton" value="Edit Users" name="editAction" />');</text>
                        }
                       if (user != null && user.IsAdmin == true)
                        {
                        <text>$('#RouteID').after('<input type="submit" id="editRouteButton" class="editButton" value="Edit Route" name="editAction" />');</text>
                        }
                    }
                }
                calculateAndDisplayRoute(directionsService, directionsDisplay, result.waypoints, result.times);
            });
        });
    });

    function initMap() {
        directionsService = new google.maps.DirectionsService;
        directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: { lat: 41.4993, lng: -81.6944 }
        });
        directionsDisplay.setMap(map);

        var connection = $.connection("/transportation-socket");
        connection.received(function (data) {
            console.log(data);
            showBusIconOnMap(data.longitude, data.latitude, map);
        });
        connection.start().done(function () {
            console.log("Connected to WebSocket");
        });
    }

    function showBusIconOnMap(latitude, longitude, map) {

        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(longitude, latitude),
            map: map,
            title: 'Bus Location',
            icon: 'http://maps.google.com/mapfiles/ms/icons/bus.png'
        });
    }

    function calculateAndDisplayRoute(directionsService, directionsDisplay, JSONWaypoints, JSONTimes) {

        var Times = [];

        for (var i = 0; i < JSONTimes.length; i++) {
            var fullDate = new Date(parseInt(JSONTimes[i].substr(6)));

            var hours = fullDate.getHours();
            var minutes = (fullDate.getMinutes() < 10 ? '0' : '') + fullDate.getMinutes()

            var suffix = hours >= 12 ? " PM" : " AM";
            if (hours > 12) {
                hours = hours - 12;
            }
            if (hours == 0) {
                hours = 12;
            }
            hours = hours + ":" + minutes + suffix;
            Times[i] = hours;
        }

        var startPoint = JSONWaypoints[0];
        var endPoint = JSONWaypoints[JSONWaypoints.length - 1];
        var waypts = [];

        for (var i = 1; i < JSONWaypoints.length - 1; i++) {
            waypts.push({
                location: JSONWaypoints[i],
                stopover: true
            });
        }

        directionsService.route({
            origin: startPoint,
            destination: endPoint,
            waypoints: waypts,
            optimizeWaypoints: false,
            travelMode: 'DRIVING'
        }, function (response, status) {
            if (status === 'OK') {
                directionsDisplay.setDirections(response);
                var route = response.routes[0];
                var summaryPanel = document.getElementById('directions-panel');
                summaryPanel.innerHTML = '';

                var timeIndex = 0;

                for (var i = 0; i < route.legs.length; i++) {
                    var routeSegment = i + 1;
                    summaryPanel.innerHTML += '<b>Stop: ' + routeSegment + ' - ' + Times[timeIndex++] + '</b><br>';
                    summaryPanel.innerHTML += route.legs[i].start_address + '<br>';
                    if (i == route.legs.length - 1) {
                        summaryPanel.innerHTML += '<b>Stop: ' + (routeSegment + 1) + ' - ' + Times[timeIndex++] + '</b><br>';
                        summaryPanel.innerHTML += route.legs[i].end_address;
                    }
                }
            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1daWs4KZZROhgz8DlBzFXdz80pSWo8Fs&callback=initMap">
</script>