body {
    padding: 40px 10px;
}

#right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

    #right-panel select, #right-panel input {
        font-size: 15px;
    }

    #right-panel select {
        width: 100%;
    }

    #right-panel i {
        font-size: 12px;
    }

html, body {
    height: 100%;
    margin: 0;
    padding: 40px 10px;
}

#map {
    height: 100%;
    float: left;
    width: 70%;
    height: 100%;
}

#right-panel {
    margin: 20px;
    border-width: 2px;
    width: 20%;
    height: 400px;
    float: left;
    text-align: left;
    padding-top: 0;
}

#directions-panel {
    margin-top: 10px;
    background-color: #FFEE77;
    padding: 10px;
}
#email-field{
    display:block;
    margin-left: 80px;
    text-align: left;
}

.loginBox {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
}

.waypointAdder{
    display:block;
    margin-bottom: 10px;
    border-radius: 5px;
}
.enter-info{
    border: 5px solid red;
    align-content: center;

}

.tony {
    border: 5px solid green;
    margin: auto;

}

.rachel {
    border: 5px solid cyan;
}

.moshe{
   border: 5px solid purple;
}

hr {
    border: 0;
    height: 5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #f00, rgba(0, 0, 0, 0));
}
.submit {
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin: auto;
}